
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/IRANSans(FaNum).ttf"); font-family : "IRANSans(FaNum)"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/IRANSans(FaNum).ttf"); font-family : "IRANSans(FaNum)"; font-weight : 400;  }